# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environments
venv/
env/
.venv/

# Streamlit temp files
.streamlit/secrets.toml
.streamlit/config.toml

# System files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Environment variables
.env

# Logs and temp
*.log
*.tmp
